{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<table class="table table-dark table-borderless">
    <tr>
    <th>
    <form action="/register" class="text-center logreg-form" method="post">
        <div class="my-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-dark btn-font" type="submit">Sign Up</button>
    </form>
    </th>
    <th>
        <form action="/login" class="text-center logreg-form" method="post">

            <div class="my-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-dark btn-font" type="submit">Log In</button>
        </form>
    </th>
    </tr>
</table>
{% endblock %}